@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #121212;
  --card-foreground: #ffffff;
  --popover: #121212;
  --popover-foreground: #ffffff;
  --primary: #D20A0A;
  --primary-foreground: #ffffff;
  --secondary: #27272a;
  --secondary-foreground: #ffffff;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #ffffff;
  --destructive: #7f1d1d;
  --destructive-foreground: #ffffff;
  --border: #27272a;
  --input: #27272a;
  --ring: #D20A0A;
  --radius: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
